.contactenos{
    display: flex;
    justify-content: center;
    border: solid 1px white; 
    border-radius: 40px;
    > form{
        > div{

            > h3{
                color: red;
                
                }

            }
        }
    }

.especificaciones{
   display: flex;
    
    }      