.navegador {
        
         > ul{
            display: flex;
            flex-wrap: nowrap;
            margin: 20px;
            padding: 0px 700px 0px 600px; 
            border: solid 1px white;
            border-radius: 40px;
            justify-content: center;

            

            > li{
                display: inline;
                text-decoration: none;
                margin: 5px;
                padding: 10px;
                border: solid 1px black;
                border-radius: 5px;
            
             
                > a {
                    color:black;
                    font-weight: bold;
                    font-size: 30px;
                    font-family:'Times New Roman', Times, serif;
                    text-decoration: none;
                       &:hover{
                        color: rgb(8, 220, 248);

                        }
                        
                }
            }
            


        }
    }
    /*@media screen and (max-width:600px) 
    { .navegador > ul {
      flex-direction:column;
      justify-content:space-evenly;
    }*/
      
      
   
.nav__tutoriales{
    border-color: black;
}
