.pie__pagina{
    border: solid 2px white;
    border-radius: 40px;
    margin: 12px;
    padding: 30px;

    
}
.piepagina__navegador__chat__whatsapp{
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 10px;
    justify-content: end;
    
}

circle {
    fill: #25d366;
 }
 path {
    fill: rgb(239, 240, 245);
 }