.inicio__1{

    > div{
        > img{
           width: 100%;
           height: 350px;
           border-radius: 40px;
        
        }
    
        }
 }
 .titulo{
    width: auto;
    height: auto;
    display: block;
    justify-content: left;
    position: absolute;
    top: 250px;
    left: 30px;
    margin: 0px;
    padding: 0px;

    > h1{
        color: rgb(31, 17, 233);
        font-size: 160px;
        font-family:'Times New Roman', serif;
    }
 }
