@import "reset";
@import "navegador";
@import "titulos";
@import"loading";
@import "tutoriales";
@import "nosotros";
@import "contactos";
@import "piedepagina";
@import "servicios";

.body__padre{
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
 
}
.contenido__principal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    > section{
        border: solid 1px white;
        border-radius: 40px;

        > p{
            color: blue;
            text-align: center;
            font-size: 100px;

        }
    }

}
  


